<!DOCTYPE html>
<html>
   <head>
      <title>Greg's Portfolio</title>
      <link rel="stylesheet" href="http://meyerweb.com/eric/tools/css/reset/">
      <link rel="stylesheet" href="assets/CSS/styles.css">
      <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
   </head>
   <body ng-app="portfolio">
   <!-- header! -->
      <header>
         <h1>Greg Turmel</h1>
         <nav class="right-nav">
            <a href="https://github.com/gturmel">
               <i class="fa fa-github"></i>
            </a>
            <span>|</span>
            <a href="https://www.linkedin.com/in/greg-turmel-48a072115?trk=prof-samename-picture">
               <i class="fa fa-linkedin"></i>
            </a>
            <span>|</span>
            <a href="https://twitter.com/sadpandatime">
               <i class="fa fa-twitter"></i>
            </a>
            <span>|</span>
            <a href="http://gturmel.blogspot.com/">Blog</a>
         </nav>
      </header>
      <div class="content" ng-controller="PortfolioController">
   <!-- Left side of the page starts here! -->
         <section class="left-column">
            <nav class="left-links">
               <h6>{{ greeting }}</h6>
               <ul>
                  <li><a href="https://github.com/Can-i-Walk">Final Project</a></li>
                  <li>Projects
                     <ul>
                        <li class = "left-column-link" ng-click="setTab(2)">Project Euler</li>
                        <li class = "left-column-link" ng-click="setTab(3)">Chessboard</li>
                        <li class = "left-column-link" ng-click="setTab(4)">Memory Game</li>
                     </ul>
                  </li>
                  <li class = "left-column-link" ng-click="setTab(5)">About Me</li>
                  <!-- <li><a href="" target="_blank">Resume</a></li> -->

               </ul>
               </nav>
            </section>
   <!-- Right side of the page starts here! -->
         <section class="right-column">
            <section class="landing-page">
               <div class = "welcome project">
                  <h2>Welcome to my Portfolio</h2>
                  <p>Hi! First off, thanks for visiting! Take your time to look at what I've done and what I'm currently working on.</p>
               </div>
               <div class = "project-euler project" ng-show="true">
                  <img src="assets/images/project-euler.png" alt = "Project Euler Screenshot">
                  <ul>
                     <li>
                        <h3>Description:</h3>
                        <p><a href = "https://projecteuler.net/archives" target = "_blank">Project Euler</a> is a site dedicated to solving math challenges through code. There isn't a right or a wrong way to solve any of the problems, as long as you end up in the same place at the end. Now that I'm finished up at the Iron Yard, this is giving me a lot to work on and think about as I look for a job.</p>
                     </li>
                     <li>
                        <h3>Technologies Used:</h3>
                        <p>JavaScript</p>
                     </li>
                     <li>
                        <h3>The Code:</h3>
                        <p><a href = "https://github.com/gturmel/Project-Euler" target="_blank">My Github</a> for Project Euler</p>
                     </li>
                  </ul>
               </div>
               <div class = "chessboard project">
                  <img src="assets/images/chessboard.png" alt = "chessboard Screenshot">
                  <ul>
                     <li>
                        <h3>Description:</h3>
                        <p>This chessboard moves through the first several moves of the Catalan Opening in chess. I'm populating the board with jQuery and JavaScript, and tying logic to the button click events.</p>
                     </li>
                     <li>
                        <h3>Technologies Used:</h3>
                        <p>JavaScript, jQuery, HTML, CSS</p>
                     </li>
                     <li>
                        <h3>The Code:</h3>
                        <p><a href = "https://github.com/gturmel/chessboard" target="_blank">My Github</a> for The Catalan Opening</p>
                     </li>
                  </ul>
               </div>
               <div class = "memory-game project">
                  <img src="assets/images/memory-game.png" alt = "memory-game Screenshot">
                  <ul>
                     <li>
                        <h3>Description:</h3>
                        <p>This is a simple memory game built with HTML, CSS, with the logic in jQuery. I built this code over two weekend assignments at The Iron Yard. The first weekend involved building the cards and layout, the second weekend several weeks later added the game logic and timer.</p>
                     </li>
                     <li>
                        <h3>Technologies Used:</h3>
                        <p>JavaScript, jQuery, HTML, CSS</p>
                     </li>
                     <li>
                        <h3>The Code:</h3>
                        <p><a href = "https://github.com/gturmel/memory-layout" target="_blank">My Github</a> for my Memory Game</p>
                     </li>
                  </ul>
               </div>
            </section>
         </section>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
      <script src="assets/JS/app.js"></script>
      <script src="assets/JS/controllers.js"></script>
      <script src="assets/JS/memory-script.js"></script>
   </body>
</html>
