$Primary-Background: white;
$Secondary-Background: #3D5A80;
// $Secondary-Font-Color: #;
$Font-Stack: 'Cabin', sans-serif;
$Font-Color: #293241;

// 3D5A80 (dark blue) 98C1D9 (mid blue) E0FBFC (light blue) EE6C4D (interesting orange) 293241 (really dark blue)
@import 'memory-styles.scss';

//whole page styling

body {
   background-color: $Primary-Background;
   font-family: $Font-Stack;
   color: $Font-Color;
   margin: 0;
}

// header styling

header {
   width: 100%;
   padding: 1em 0;
   background-color: $Secondary-Background;
   color: $Primary-Background;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0;
   border-bottom: 0.5em solid #ee6c4d;
   nav {
      margin: 0 2em;
   }
   h1 {
      margin-left: 1em;
   }
   .left-nav {

   }
   .right-nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
   }
   i {
      // color: $Primary-Background;
   }
   a, span {
      color: $Primary-Background;
      font-size: 2em;
      margin: 0 0.2em;
      text-decoration: none;
   }
   a:hover, i:hover{
      text-decoration: underline;
   }
}

//styling for the content container

.content {
   display: flex;
   justify-content: space-around;
}

//Styling for the left column - should have links and other interesting things inside.

.left-column {
   width: 20%;
   li, a {
      list-style-type: none;
      line-height: 2em;
      text-decoration: none;
      color: $Font-Color;
   }
   a:hover {
      text-decoration: underline;
   }
}


//styling for the right column - main content.

.right-column {
   width: 75%;

}
